<div class="order-timeline-root">
  <div class="section-header">Current Orders</div>
  <div class="order-timeline-container">
    <div class="order-timeline-section-container" #requestedSection>
      <app-order-timeline-section
        [orders]="[]"
        [title]="ORDER_STATUS.REQUESTED"
        headerColor="yellow"
        [addMode]="cardIsMoving && currentCardStatus != ORDER_STATUS.REQUESTED"
        [isHovering]="hoveringOverSection === ORDER_STATUS.REQUESTED"
      ></app-order-timeline-section>
    </div>
    <div class="order-timeline-section-container" #acceptedSection>
      <app-order-timeline-section
        [orders]="[]"
        [title]="ORDER_STATUS.ACCEPTED"
        headerColor="blue"
        [addMode]="cardIsMoving && currentCardStatus != ORDER_STATUS.ACCEPTED"
        [isHovering]="hoveringOverSection === ORDER_STATUS.ACCEPTED"
      ></app-order-timeline-section>
    </div>
    <div class="order-timeline-section-container" #inProgressSection>
      <app-order-timeline-section
        [orders]="[]"
        [title]="ORDER_STATUS.IN_PROGRESS"
        headerColor="purple"
        [addMode]="
          cardIsMoving && currentCardStatus != ORDER_STATUS.IN_PROGRESS
        "
        [isHovering]="hoveringOverSection === ORDER_STATUS.IN_PROGRESS"
      ></app-order-timeline-section>
    </div>
    <div class="order-timeline-section-container" #readySection>
      <app-order-timeline-section
        [orders]="[]"
        [title]="ORDER_STATUS.READY"
        headerColor="green"
        [addMode]="cardIsMoving && currentCardStatus != ORDER_STATUS.READY"
        [isHovering]="hoveringOverSection === ORDER_STATUS.READY"
      ></app-order-timeline-section>
    </div>
    <div
      [@inAnimation]
      *ngIf="cardIsMoving"
      class="additional-actions-container"
    >
      <div class="additional-action delete-order" #deleteSection>
        <app-order-timeline-section
          title="Delete"
          [addMode]="cardIsMoving"
          [showCount]="false"
          [isHovering]="hoveringOverSection === ORDER_STATUS.DELETED"
        ></app-order-timeline-section>
      </div>
      <div class="additional-action complete-order" #completeSection>
        <app-order-timeline-section
          title="Complete"
          headerColor="green"
          [addMode]="cardIsMoving"
          [showCount]="false"
          [isHovering]="hoveringOverSection === ORDER_STATUS.COMPLETED"
        ></app-order-timeline-section>
      </div>
    </div>
  </div>
</div>
