<div
  class="ticket-container {{ allowTransitionClass }}"
  [class.card-is-moving]="cardIsMoving"
  [style]="style"
  #ticketElement
>
  <div class="ticket-header">
    <span class="ticket-id">#{{ ticket._id }}</span>
    <span class="ticket-title">{{ ticket.title }}</span>
  </div>
  <div class="ticket-body">
    <div class="ticket-attributes">
      <div *ngIf="ticket.dateDue" class="ticket-attribute date">
        <img src="/assets/icons/clock.svg" alt="clock icon" />
        <span>{{ ticket.dateDue | date : "dd/MMM" }}</span>
      </div>
      <div
        *ngIf="ticket.priority"
        class="ticket-attribute"
        [ngStyle]="{ 'background-color': PRIORITY_COLORS[ticket.priority] }"
      >
        <img src="/assets/icons/warning.svg" alt="priority icon" />
        <span>{{ ticket.priority }}</span>
      </div>
      <div *ngIf="ticket.size" class="ticket-attribute size">
        <img src="/assets/icons/size.svg" alt="size icon" />
        <span>{{ ticket.size }}</span>
      </div>
    </div>
  </div>
</div>
