.ticket-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 1px 15px;
  background-color: hsla(0, 0%, 100%, 0.8);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &.allow-transition {
    transition: transform 300ms cubic-bezier(0, 0.55, 0.45, 1);
  }

  &:hover {
    cursor: grab;
  }

  .ticket-header {
    display: flex;
    flex-direction: column;

    .ticket-id {
      font-size: 12px;
      font-weight: 600;
      color: #666;
    }
  }

  .ticket-attributes {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    .ticket-attribute {
      display: flex;
      align-items: center;
      gap: 3px;
      padding: 3px 6px;
      background-color: #939393;
      border-radius: 8px;

      &.date {
        background-color: #e53935
      }

      &.size {
        background-color: #2995c7;
      }

      img {
        width: 16px;
        height: 16px;
      }

      span {
        font-size: 12px;
        font-weight: 600;
        color: white
      }
    }
  }
}

.card-is-moving {
  position: absolute;
}
