.header-bar-root {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .left-container {
    display: flex;
    gap: 40px;
  }

  .header-text {
    display: block;
    font-size: 1.4rem;
    color: white;
  }

  .header-options {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;

    .header-option {
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
}
