<div class="header-bar-root">
  <div class="left-container">
    <span class="header-text">Tira</span>
    <div class="header-options">
      <span class="header-option" routerLink="">Workflow</span>
      <span class="header-option" routerLink="tickets">Tickets</span>
      <span class="header-option" routerLink="">Statistics</span>
    </div>
  </div>
  <div class="right-container header-options">
    <span class="header-option" routerLink="">Account</span>
    <span class="header-option" routerLink="settings">Settings</span>
  </div>
</div>
